html { 
  background: url(../assets/img/background.jpg); 
  background-attachment:fixed;
}

.done {
  text-decoration: line-through;
}

ul {
  list-style-type: none;
}

img.profile-photo {
  max-width: 80px;
}
